{% extends "layout.html" %}
{% block my_block %}

<h5 align="center">Table Title: <input id="table-title" type="text" name="table-title" value=""></h5>

<div align="center">
    <div id="example-table" style="height: 525px; width: 90%"></div>
    <div class="buttons" style="width: 90%"></div>
</div>

<script type="text/javascript">
    var jsondata = {{ content_json | tojson }};
    var coldata = {{ columns_json | tojson}};
    var tableTitleJson =  {{ table_title | tojson }} ;
    var tableTitle = tableTitleJson["title"];
    var afterEditUrl = '{{ url_for( 'results') }}'; //go back to the previous view after editing the data
</script>

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4CAF50 !important;
    border-color: green !important;
    }
    
    .tabulator, .tabulator-header{
        border-color:green;
    }

    .tabulator-row.tabulator-selected:hover{
        background: #769bcc !important
    }

    .btn-group{
        /* position: absolute; */
        left:10px;
    }

    #row-count{
        text-align: center; 
        width: 8%;
        color: aliceblue;
        background-color: #4CAF50;
    }

    #row-count-number{
        color: #4CAF50
    }

    #select-row-checkbox{
        color:azure;
        background-color: #4CAF50;
        font-size: 11pt;
        width: 9%;
    }

    /* #table-title{
        color:azure;
        background-color:#4CAF50;
    } */

    #selectable{
        width: 16%;
    }

</style>


<script src="{{ url_for('static', filename='data.js')}}"> </script>

{% endblock my_block %}