{% extends "layout.html" %}
{% block my_block %}

<h5 align="center">Table Title: <input id="table-title" type="text" name="table-title" value=""></h5>

<div align="center">
    <div id="example-table" style="height: 525px; width: 90%"></div>
    <div class="buttons" style="width: 90%"></div>
</div>

<script type="text/javascript">
    var tableNames = {{ table_names | safe }};
    var tableDirName; //leave this uninitialized. This variable is used to determine if new table is added or an existing table is being edited
    var tableTitle = "";
    var oldTableDirName = "";
    if ('{{ table_dir_name }}') {
        tableDirName = '{{ table_dir_name }}';
        oldTableDirName = '{{ table_dir_name }}';
        tableTitle = tableDirName.split("-").join(" "); //replace dashes with spaces
        var ajaxUrlCall = "{{ url_for('getTableData', filepath='var1') }}"; //var1 and var2 will be replaced by appropriate var in main.js file
    }
    var afterEditUrl = '{{ url_for( 'home') }}'; //go back to the previous view after editing the data
</script>

<style>
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {
        background-color: #4CAF50 !important;
        border-color: green !important;
    }

    .tabulator,
    .tabulator-header {
        border-color: green;
    }

    .tabulator-row.tabulator-selected:hover {
        background: #769bcc !important
    }

    .btn-group {
        left: 10px;
    }

    #row-count {
        text-align: center;
        width: 8%;
        color: aliceblue;
        background-color: #4CAF50;
    }

    #row-count-number {
        color: #4CAF50
    }

    #select-row-checkbox {
        color: azure;
        background-color: #4CAF50;
        font-size: 11pt;
        width: 9%;
    }

    #selectable {
        width: 16%;
    }
</style>


<script src="{{ url_for('static', filename='data.js')}}"> </script>

{% endblock my_block %}