{% extends "layout.html" %}
{% block my_block %}

<!-- all tables will be appended to this div -->
<div align="center" id="table-holder">lmao</div>


<script type="text/javascript">
    var totalTables = {{ total_tables | int }};
    var ajaxUrlCall = "{{ url_for('getTableData', filepath='var1') }}"; //var1 and var2 will be replaced by appropriate var in main.js file

</script>

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #4CAF50 !important;
        border-color: green !important;
    }

    .tabulator, .tabulator-header {
        border-color: green;
    }

    .btn-group {
        position: absolute;
        left: 423px;
    }

    #row-count{
        text-align: center;
        width: 8%;
        color: aliceblue;
        background-color: #4CAF50;
    }

    #row-count-number {
        color: #4CAF50
    }
</style>

<script src="{{ url_for('static', filename='main.js')}}"> </script>



{% endblock my_block %}