{% extends "layout.html" %}
{% block my_block %}

<!-- all tables will be appended to this div -->
<div align="center" id="table-holder"></div>


<script type="text/javascript">
    var jsondata = {{ content_json | tojson }};
    var coldata = {{ columns_json | tojson}};
    var tableTitleJson = {{ table_title | tojson }};
    var tableTitle = tableTitleJson["title"]; 
    var tableTitleId = tableTitle.split(" ").join("-"); //replace spaces with dashes
    var editUrl = '{{ url_for( 'edit_table') }}'
</script>

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #4CAF50 !important;
        border-color: green !important;
    }

    .tabulator, .tabulator-header {
        border-color: green;
    }

    .btn-group {
        position: absolute;
        left: 423px;
    }

    #row-count{
        text-align: center;
        width: 8%;
        color: aliceblue;
        background-color: #4CAF50;
    }

    #row-count-number {
        color: #4CAF50
    }
</style>

<script src="{{ url_for('static', filename='tables.js')}}"> </script>



{% endblock my_block %}