{% extends "layout.html" %}
{% block my_block %}

<h1>Client Machines</h1>
<div id="example-table"></div> 
<br>
<div align="center" class="buttons"></div>
<script type="text/javascript">
    var jsondata = {{ content_json | tojson }} ;
    var coldata = {{ columns_json | tojson}}
    var editUrl = '{{ url_for( 'edit_table') }}'
</script>

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4CAF50 !important;
    border-color: green !important;
    }
</style>

<!-- <button id="edit-table" onclick="window.location.href=editUrl;" type="button">Edit Table</button>
<button id="delete-table" type="button">Delete Table</button> -->

<script src="{{ url_for('static', filename='tables.js')}}"> </script>



{% endblock my_block %}
